/*------------------------------------------------------------------
[Table of contents]

 - global styles
 - Loader
 - header
 - mobile-menu
 - sections
 - portfolio
 - form
 - modal


- Project:	Danny - Multipurpose HTML Template
- Version:	1.0
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/
a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none; }

ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

button:active,
button:focus {
  outline: none !important;
  text-decoration: none; }

body {
  background: #fff;
  overflow-x: hidden; }

:focus {
  outline: none !important; }

/* Loader */
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #222222;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important; }

#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  -webkit-border-radius: 50%;
  border-radius: 50%; }

#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent; }

#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #ccc; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Loader */
/* Header */
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e3e3e3; }

.header.active {
  -webkit-box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  border-bottom-color: transparent; }

.logo img{
  max-height: 70px;
}
.point:after {
  content: '.'; }

.main-menu {
  text-align: right; margin-top: 12px;}

.main-menu ul.list-inline {
  margin-right: -5px; }

.main-menu ul li {
  margin: 7px 0 7px 12px; }

.main-menu ul li a {
  display: inline-block; }

.main-menu ul li a:hover {
  text-decoration: underline; }

.colored-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }

.colored-link:hover, .colored-link:active, .colored-link.hover, .colored-link.active {
  text-decoration: underline; }

/* Header */
/* Mobile-menu */
.mobile-btn {
  width: 16px; }

.mobile-btn > div {
  width: 100%;
  height: 2px;
  margin: 2px 0; }

.mob-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  padding: 0 20px; }

.mob-menu-wrapper.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.mobile-menu {
  height: 100%;
  overflow: auto; }

.mobile-menu ul {
  padding: 30px 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%; }

.mobile-menu ul li {
  list-style: none;
  padding: 10px 0; }

.mobile-menu ul li a {
  color: #fff;
  display: inline-block;
  padding: 20px; }

.close-mob-menu {
  width: 18px;
  height: 18px;
  padding: 3px 2px 2px;
  position: absolute;
  top: 34px;
  right: 34px;
  z-index: 5; }

.close-mob-menu > div {
  width: 100%;
  height: 2px;
  background: #fff; }

.close-mob-menu > div:first-child {
  -webkit-transform: rotate(45deg) translate(3px, 4px);
  -ms-transform: rotate(45deg) translate(3px, 4px);
  transform: rotate(45deg) translate(3px, 4px); }

.close-mob-menu > div:last-child {
  -webkit-transform: rotate(-45deg) translate(-3px, 2px);
  -ms-transform: rotate(-45deg) translate(-3px, 2px);
  transform: rotate(-45deg) translate(-3px, 2px); }

/* Mobile-menu */
/* Sections */
.section {
  padding: 60px 0;
  border-top: 1px solid #e3e3e3; }

.section.section-small-padding {
  padding: 60px 0 35px; }

#hello {
  margin-top: 100px;
  border: none; }

.about-img-wrap {
  float: right; }

.about-img img {
  max-width: 100%;
  display: inline-block; }

.about-me-title {
  margin-bottom: 5px; }

.span-title {
  width: 100px;
  float: left;
  display: block; }

.span-title + span {
  display: block;
  padding-left: 100px; }

.about-me-text {
  margin-bottom: 30px; }

.about-me-text img{
  float: left; margin: 0px 15px 15px 0px;
}
.opacity-box {
  opacity: 0.8; }

.about-me-info {
  margin-bottom: 30px; }

.about-me-info p {
  margin-bottom: 10px; }

.about-me-info a.fonts-icons {
  margin-right: 25px;
  margin-bottom: 5px;
  min-width: 16px;
  text-align: center; }

.site-btn {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 170px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  border: none; }

.site-btn.gray-btn {
  background: #efefef; }

.site-btn:hover, .site-btn:active, .site-btn:focus {
  color: #fff; }

.about-btns .site-btn {
  margin-right: 26px; }

.section-sidebar h2 {
  margin-bottom: 6px; }

.advantages-box {
  margin-bottom: 30px; }

.advantages-box h4 {
  margin-bottom: 4px; }

.wave-bg {
  position: relative; }

.wave-bg .zigzag {
  width: 105px;
  position: absolute;
  bottom: 0;
  left: 15px; }

.wave-bg .zigzag svg:first-child polyline {
  stroke: #efefef; }

.section-small-padding .wave-bg .zigzag {
  bottom: 25px; }

.section-small-padding .section-sidebar {
  padding-bottom: 75px; }

.about-row, .about-date {
  margin-bottom: 28px; }

.about-row .color-h4 {
  margin-bottom: 10px; }

.about-date {
  text-align: right;
  opacity: 0.8; }

.right-box > .row:last-child .about-row, .right-box > .row:last-child .about-date {
  margin-bottom: 0; }

.section-sidebar {
  padding-bottom: 50px; }

.section-title {
  margin-bottom: 30px; }

/* Sections */
/* Portfolio */
.portfolio-sort {
  margin-bottom: 30px;
  white-space: nowrap;
  position: relative; }

.portfolio-sort:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 93%, white 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(93%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 93%, white 100%); }

.portfolio-sort ul {
  overflow: auto;
  font-size: 0; }

.portfolio-sort ul li {
  margin: 0 20px 0 0;
  vertical-align: top; }

.portfolio-box {
  display: block;
  margin: 0 auto 25px;
  text-align: left; }

.portfolio-box .portfolio-img {
  margin-bottom: 15px;
  overflow: hidden; }

.portfolio-box .portfolio-img img {
  width: 100%; }

.portfolio-box .portfolio-name {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px; }

.portfolio-box:hover .portfolio-name, .portfolio-box.hover .portfolio-name, .portfolio-box:active .portfolio-name, .portfolio-box.active .portfolio-name {
  text-decoration: underline; }

/* Portfolio */
/* Form */
.form-wrapper .form-group {
  margin-bottom: 30px; }

.form-wrapper input[type=text],
.form-wrapper input[type=email] {
  height: 50px;
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form-wrapper input[type=text]::-webkit-input-placeholder,
.form-wrapper input[type=email]::-webkit-input-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper input[type=text]::-moz-placeholder,
.form-wrapper input[type=email]::-moz-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper input[type=text]:-moz-placeholder,
.form-wrapper input[type=email]:-moz-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper input[type=text]:-ms-input-placeholder,
.form-wrapper input[type=email]:-ms-input-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper input[type=text]:hover, .form-wrapper input[type=text]:focus, .form-wrapper input[type=text]:active, .form-wrapper input[type=text].hover, .form-wrapper input[type=text].active,
.form-wrapper input[type=email]:hover,
.form-wrapper input[type=email]:focus,
.form-wrapper input[type=email]:active,
.form-wrapper input[type=email].hover,
.form-wrapper input[type=email].active {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  border: 1px solid transparent; }

.form-wrapper textarea {
  height: 210px;
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 15px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none;
  display: block; }

.form-wrapper textarea::-webkit-input-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper textarea::-moz-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper textarea:-moz-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper textarea:-ms-input-placeholder {
  color: #082639;
  opacity: 0.5; }

.form-wrapper textarea:hover, .form-wrapper textarea:focus {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  border: 1px solid transparent; }

.form-wrapper .submit-holder {
  text-align: right; }

.form-wrapper select {
  display: none; }

.form-wrapper .custom-select-box {
  width: 100%;
  border: 1px solid #e3e3e3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  text-align: left; }

.form-wrapper .custom-select-box:hover, .form-wrapper .custom-select-box.custom-select-box-opened {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  border: 1px solid transparent; }

.form-wrapper .custom-select-box .custom-select-button {
  height: 50px;
  line-height: 48px;
  padding: 0 40px 0 20px;
  position: relative;
  cursor: pointer;
  z-index: 11;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.form-wrapper .custom-select-box .custom-select-button span {
  opacity: 0.5; }

.form-wrapper .custom-select-box .custom-select-button:after {
  content: '\f107';
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px; }

.form-wrapper .custom-select-box .custom-select-ul {
  position: absolute;
  z-index: 15;
  left: -1px;
  right: -1px;
  top: 100%;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  list-style: none;
  max-height: 200px;
  overflow: auto;
  padding: 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.2); }

.form-wrapper .custom-select-box .custom-select-ul li {
  padding: 15px 30px 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form-wrapper .custom-select-box .custom-select-ul li:last-child {
  border-bottom: none; }

.form-wrapper .custom-select-box .custom-select-ul li:hover {
  background: #efefef; }

/* Form */
/* Modal */
.modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none; }

.modal-dialog {
  width: 890px;
  margin: 160px auto; }

#portfolio-modal .modal-body {
  display: none; }

#portfolio-modal .about-me-info {
  margin-bottom: 30px; }

#portfolio-modal .modal-images {
  text-align: center; }

#portfolio-modal .modal-images img {
  max-width: 100%;
  margin-bottom: 30px; }

.modal-body {
  padding: 70px 60px 60px; }

.modal-body .close {
  position: absolute;
  top: 30px;
  right: 30px; }

.modal-body .modal-title {
  margin-bottom: 12px; }

.modal-body .modal-description {
  margin-bottom: 25px;
  opacity: 0.8; }

.modal-body .modal-form .submit-holder {
  text-align: left; }

.modal-body .modal-form .submit-holder .site-btn {
  margin-right: 26px; }

/* Modal */
.st0 {
  fill: none; }

.st1 {
  fill: none;
  stroke: #F95231;
  stroke-width: 7;
  stroke-miterlimit: 10; }

svg.fa-magic,
svg.fa-times {
  width: 24px;
  height: 24px; }

.style-page {
  padding-top: 120px; }

.style-page h3 {
  margin-bottom: 45px; }

.style-page h4 {
  margin-bottom: 35px; }

.style-page > .row > .col-md-4 {
  margin-bottom: 70px; }

.style-page .form-wrapper {
  max-width: 270px;
  width: 100%;
  display: inline-block; }

.duotone-box {
  position: relative; }

.duotone-box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #3636fe;
  mix-blend-mode: screen;
  display: none;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease; }

.style-page-text .button-size {
  font-size: 14px;
  line-height: 1.45;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.style-page-text .mobile-version-text {
  font-size: 14px; }

.style-page-text .mobile-version-text h1 {
  font-size: 36px; }

.style-page-text .mobile-version-text h2 {
  font-size: 18px; }

.footer {
  background: #efefef;
  padding: 40px 0 41px; }

/*# sourceMappingURL=maps/theme.css.map */
